@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");

@layer components {
  .iconsdiv {
    @apply flex flex-col gap-1 items-center  text-red-200 cursor-pointer select-none;
  }
  .icons {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-red-900  p-2 text-4xl rounded-md;
  }
}

* {
  font-family: "Rubik", sans-serif;
}
.open {
  animation: fade-in 1s linear normal forwards;
}

.hide {
  animation: fade-out 1s linear normal forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.backdrop {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.354),
    rgba(0, 0, 255, 0.311)
  );
  opacity: 0.4;
}
